<br>
<p-toast></p-toast>
<p-toolbar >
    <div class="p-toolbar-group-left">
        <h2 *ngIf="factura.tipo == 'cuota'" class="text-layout">DETALLE DE BOLETA - PAGO DE CUOTAS : {{factura.numeroBoleta}} | Estado: <p-tag icon="pi pi-check" *ngIf="factura.cancelado==false" value="NORMAL" severity="success" ></p-tag> <p-tag icon="pi pi-exclamation-triangle" *ngIf="factura.cancelado==true" value="EXTORNADO - CANCELADO" severity="danger" ></p-tag> </h2>
        <h2 *ngIf="factura.tipo == 'tramite'" class="text-layout">DETALLE DE BOLETA - PAGO DE TRAMITES  : {{factura.numeroBoleta}} | Estado: <p-tag icon="pi pi-check" *ngIf="factura.cancelado==false" value="NORMAL" severity="success" ></p-tag> <p-tag icon="pi pi-exclamation-triangle" *ngIf="factura.cancelado==true" value="EXTORNADO - CANCELADO" severity="danger" ></p-tag></h2>
        <h2 *ngIf="factura.tipo == 'multa'" class="text-layout">DETALLE DE BOLETA - PAGO DE MULTAS : {{factura.numeroBoleta}} | Estado: <p-tag icon="pi pi-check" *ngIf="factura.cancelado==false" value="NORMAL" severity="success" ></p-tag> <p-tag icon="pi pi-exclamation-triangle" *ngIf="factura.cancelado==true" value="EXTORNADO - CANCELADO" severity="danger" ></p-tag></h2>
        <h2 *ngIf="factura.tipo == 'curso'" class="text-layout">DETALLE DE BOLETA - PAGO DE CURSOS : {{factura.numeroBoleta}} | Estado: <p-tag icon="pi pi-check" *ngIf="factura.cancelado==false" value="NORMAL" severity="success" ></p-tag> <p-tag icon="pi pi-exclamation-triangle" *ngIf="factura.cancelado==true" value="EXTORNADO - CANCELADO" severity="danger" ></p-tag></h2>
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button [routerLink]="['/colegiados']" icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>

<p-card >
    <form #facturaForm="ngForm">
        <div class="grid p-fluid">
            <div *ngIf="factura.colegiado.habilidad.nombre!='EXTERNO'" class="col-12 md:col-12">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;"> Datos del colegiado</h4>
                <hr>
                <br>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="colegiado"  pInputText  value="{{factura.colegiado.nombre}} {{factura.colegiado.apellido}}">         
                </div>
                <br>
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;"> Datos de la boleta</h4>
                <hr>
            </div>
            <div class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Folio</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly pInputText type="text" name="id" [(ngModel)]="factura.id" required pInputText  autocomplete="off"> 
                </div>
            </div>
            <div class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Serie</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly pInputText type="text" name="serie" [(ngModel)]="factura.serie" required pInputText  autocomplete="off"> 
                </div>
            </div>
            <div class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Número de boleta</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="numeroBoleta" [(ngModel)]="factura.numeroBoleta" required pInputText autocomplete="off">         
                </div>
            </div>
            <div class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Fecha de pago</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly pInputText type="text" name="fechaPago" [(ngModel)]="factura.fechaPago" required pInputText  autocomplete="off"> 
                </div>
            </div>
            
            
            <div class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Método de pago</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="formaPago" [(ngModel)]="factura.formaPago" required pInputText autocomplete="off">
                </div>
            </div>
            <div *ngIf="factura.colegiado.habilidad.nombre=='EXTERNO'" class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Personal que atendio al colegiado</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="responsable" [(ngModel)]="factura.responsable"  pInputText autocomplete="off">         
                </div>
            </div>
            <div class="col-12 md:col-4" *ngIf="factura.colegiado.habilidad.nombre!='EXTERNO'">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Número de boleta RAPIFAC</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="numeroTransaccion" [(ngModel)]="factura.numeroTransaccion"  pInputText autocomplete="off">         
                </div>
            </div>
            <div class="col-12 md:col-4" *ngIf="factura.colegiado.habilidad.nombre=='EXTERNO'">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Nombre del cliente externo</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="numeroTransaccion" [(ngModel)]="factura.numeroTransaccion"  pInputText autocomplete="off">         
                </div>
            </div>
            <div *ngIf="factura.colegiado.habilidad.nombre=='EXTERNO'" class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">DNI del cliente cliente externo</h4>
                <div class="p-inputgroup">
                    <textarea readonly name="observacion" rows="1" cols="30" [(ngModel)]="factura.observacion" pInputTextarea ></textarea>
                </div>
            </div>
            <div *ngIf="factura.colegiado.habilidad.nombre=='EXTERNO'" class="col-12 md:col-4">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Número de boleta RAPIFAC</h4>
                <div class="p-inputgroup">
                    <textarea readonly name="razon" rows="1" cols="30" [(ngModel)]="factura.razon" pInputTextarea ></textarea>
                </div>
            </div>
            <div *ngIf="factura.colegiado.habilidad.nombre!='EXTERNO'" class="col-12 md:col-12">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Personal que atendio al colegiado</h4>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input readonly type="text" name="responsable" [(ngModel)]="factura.responsable"  pInputText autocomplete="off">         
                </div>
            </div>
            <div class="col-12 md:col-12">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Resoluciones (no obligatorio)</h4>
                <div class="p-inputgroup">
                    <textarea readonly name="resolucion" rows="2" cols="30" [(ngModel)]="factura.resolucion" pInputTextarea></textarea>
                </div>
            </div>
            <div *ngIf="factura.colegiado.habilidad.nombre!='EXTERNO'" class="col-12 md:col-12">
                <h4 class="text-layout" style="margin-top: 0; margin-bottom: 1rem;">Observaciones (no obligatorio)</h4>
                <div class="p-inputgroup">
                    <textarea readonly name="observacion" rows="2" cols="30" [(ngModel)]="factura.observacion" pInputTextarea ></textarea>
                </div>
            </div>
            <div class="col-12 md:col-12">
                <p-table responsiveLayout="scroll" [value]="factura.items">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="factura.tipo=='cuota'">Cuota</th>
                            <th *ngIf="factura.tipo=='multa'">Multa</th>
                            <th *ngIf="factura.tipo=='tramite'">Tramite</th>
                            <th *ngIf="factura.tipo=='curso'">Curso</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>sub Total</th>
                        </tr>
                        
                    </ng-template>
       
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td *ngIf="item.tramite.nombre == '~#Cuota'">CUOTA</td>
                            <td *ngIf="item.tramite.nombre != '~#Cuota'">{{item.tramite.nombre}}</td>
                            <td> {{item.tramite.descripcion}}</td>
                            <td>S/ {{item.valor}}</td>
                            <td *ngIf="item.tramite.nombre == '~#Cuota'">{{item.cantidad}} meses</td>
                            <td *ngIf="item.tramite.nombre != '~#Cuota'">{{item.cantidad}}</td>
                            <td>S/ {{item.importe}}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
        <p-toolbar *ngIf="factura.items.length>0">
            <div class="p-toolbar-group-right">
                <h4 class="text-layout">Descuento : S/ - {{ factura.descuento }} </h4>
            </div>
        </p-toolbar>
        <p-toolbar *ngIf="factura.items.length>0">
            <div class="p-toolbar-group-right">
                <h2 class="text-layout">TOTAL : S/ {{ factura.total }} </h2>
            </div>
        </p-toolbar>
    </form>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Cargando Yawar Tech... </p></ngx-spinner>
</p-card>