<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <div style="margin: auto; text-align:center !important;">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem;"></i>
                </div>
                
                <h4 style="text-align:center !important;">{{message.summary}}</h4>
                <p style="text-align:center !important;">{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="OK" class="p-button-success"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-card header="REPORTE DE HISTORIAL DE PAGOS DE UN COLEGIADO" [style]="{ 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
    </ng-template>  
    <p-toolbar>
        <div class="p-toolbar-group-left" style="width: 100%;">
            <div class="grid p-fluid" style="width: 100%;">
                <div class="col-12 md:col-6">
                        <input type="text" name="dni" [(ngModel)]="term" pInputText placeholder="Número de Colegiatura" autocomplete="off">
                </div>
                <div class="col-12 md:col-6">
                    <button pButton pRipple type="button" (click)="buscarColegiadoByColegiatura()" label="Consultar" class="p-button-success ui-button"></button>
                </div>
            </div>
        </div>
    </p-toolbar>
</p-card>

<p-table #dt [columns]="cols" [value]="facturas" selectionMode="multiple" [(selection)]="selectedProducts" responsiveLayout="scroll" [exportHeader]="'customExportHeader'">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"  class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Cargando Yawar Tech... </p></ngx-spinner>
<br>