<br>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <div style="margin: auto; text-align:center !important;">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem;"></i>
                </div>
                
                <h4 style="text-align:center !important;">{{message.summary}}</h4>
                <p style="text-align:center !important;">{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="OK" class="p-button-success"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>


<p-card header="LISTA DE COLEGIADOS" [style]="{ 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
    </ng-template>  
    <p-toolbar>
        <div class="p-toolbar-group-left" style="width: 100%;">
            <div class="grid p-fluid" style="width: 100%;">
                <div class="col-12 md:col-6">
                        <input type="text" name="dni" [(ngModel)]="term" pInputText placeholder="Termino de busqueda..." autocomplete="off">
                </div>
                <div class="col-12 md:col-3">
                    <p-splitButton label="Buscar por..." icon="pi pi-check"  [model]="items" styleClass="p-button-success"></p-splitButton>
                </div>
                <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="col-12 md:col-3">
                    <button pButton pRipple type="button" [routerLink]="['/colegiados/form']" label="Crear Colegiado" class="p-button-secondary ui-button"></button>
                </div>
            </div>
        </div>
    </p-toolbar>

    <p-table [value]="colegiados" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Colegiatura</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ver</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                <th>Pagar Cuota</th>
                <th>Pagar Tramites</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-colegiado>
            <tr>
                <td>{{colegiado.colegiatura}}</td>
                <td>{{colegiado.nombre}}</td>
                <td>{{colegiado.apellido}}</td>
                <td>
                    <button icon="pi pi-eye" pButton pRipple type="button" label="Detalles" [routerLink]="['/colegiados/detalle',colegiado.id]" class="p-button-outlined p-button-help"></button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button  icon="pi pi-user-edit" pButton pRipple type="button" label="Editar" [routerLink]="['/colegiados/form',colegiado.id]" class="p-button-outlined p-button-info"></button>
                </td>
                <!--Validamos TIPO HABILIDAD para cuota-->
                <td *ngIf="colegiado.habilidad.id == '1'">
                    <button icon="pi pi-money-bill" pButton pRipple type="button" label="Cuotas" [routerLink]="['/cuotas/form',colegiado.id]" class="p-button-outlined p-button-danger"></button>
                </td>
                <td *ngIf="colegiado.habilidad.id == '2'">
                    <p-tag severity="danger" value="El colegiado es MIEMBRO HONORARIO."></p-tag>
                </td>
                <td *ngIf="colegiado.habilidad.id == '3'">
                    <p-tag severity="danger" value="El colegiado ha FALLECIDO."></p-tag>
                </td>
                <td *ngIf="colegiado.habilidad.id == '4'">
                    <p-tag severity="danger" value="El colegiado es VITALICIO."></p-tag>
                </td>
                <td *ngIf="colegiado.habilidad.id == '5'">
                    <p-tag severity="danger" value="El colegiado está SUSPENDIDO."></p-tag>
                </td>
                <!--Validamos TIPO HABILIDAD para tramites-->
                <td *ngIf="colegiado.habilidad.id == '1' || colegiado.habilidad.id == '2' || colegiado.habilidad.id == '4'">
                    <button icon="pi pi-book" pButton pRipple type="button" label="Tramites" [routerLink]="['/facturas/form',colegiado.id]" class="p-button-outlined p-button-warning"></button>
                </td>
                 
                <td *ngIf="colegiado.habilidad.id == '3'">
                    <p-tag severity="danger" value="El colegiado ha FALLECIDO"></p-tag>
                </td>
                <td *ngIf="colegiado.habilidad.id == '5'">
                    <p-tag severity="danger" value="El colegiado está SUSPENDIDO."></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<br>